*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    transition: 0.5s;
}

:root{

    --bg-color: #f0f0f0;
    --cinza-claro: #ddd;
    --cinza-escuro: #888;
    --cinza-maisescuro: #555;;
    --azul: #4267b2;
    --azul-claro: #2196f3;
    --ver-meta: #d32e36;
}

h2{
    font-size: 10px;
}
a,b,button{
    text-decoration: none;
    font-weight: 600;
    color: var(--cinza-maisescuro);
}

li{
    width: 25vw;
    
}
li a{
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 100;
    color: var(--cinza-escuro);
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
}

header{
    color: var(--cinza-escuro);
    font-size: calc(0.3rem + 0.5vw);
    line-height: 1.5rem;
}

nav{
    background-color: var(--cinza-claro);
    padding: 0.5rem 0rem;
}
#topNav{
    width: 100%;
}
#navbarPrincipal{
    background-color: var(--bg-color);
    padding: 0;
}

nav img{
    margin: 0.5rem;
    max-width: 150px;
    max-height: 100px;
}

button{
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid var(--cinza-maisescuro);
    max-height: 30px;
    padding: 0.5rem;
}

p{
    padding: 0 1rem;
}
i{
    padding: 0;
}
#emailNav{
    padding-left: 0 !important;
}

.containerMain{
    height: 90vh;
    content: '';
    background: url(/assets/img/home-banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.containerInsideMain{
    background-color: rgba(0, 0, 0, 0.70);
    border: 7px white solid;
    width: 600px;
    padding: 40px;
}
.containerInsideMain h1 ,.containerInsideMain span{
    color: var(--cinza-claro);
    font-size: calc(1.5rem + 1.5vw);
    font-weight: 600;
}
.containerInsideMain h3{
    padding-bottom: 2rem;
    color: var(--cinza-claro);
    font-weight: 600;
}
span{
    color: #2196f3 !important;

}
 

#btnMain{
    padding: 1.35rem 1rem;
    text-decoration: none;
    background-color: transparent;
    color: var(--azul) !important;
    border: 1px solid var(--azul) !important;
    border-radius: 0;
    font-weight: 400;
    font-size: 1.25rem;
}
#btnMain:hover{
    cursor: pointer;
    background-color: var(--azul-claro) !important;
    color: var(--cinza-claro) !important;
}

/* Estilos gerais */
  
.flip-card-front p{
    font-size: 9px;
}

.flip-card-back p{
    font-size: 9px;
    margin: 5px;
    color: #ddd;
    text-align: center;
}

  .flip-card {
    width: 150px;
    height: 250px;
    background-color: transparent;
    perspective: 1000px;
    border-radius: 400px;
  }
  .flip-card .h2{
    font-size: 10px;
  }
  
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
   
  }
  
  /* Estilos da frente do card */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #e0e0e0;
  }

  .flip-card-front img {
    width: 100%;
  }
  
  .flip-card-front{
     border-radius: 4px;
  }
  
  /* Estilos da parte de trás do card */
  .flip-card-back {
    background-color: #565656;
    transform: rotateY(180deg);
  }
  
  /* Estilos da animação do card */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .separador-menor{
    height:5px;
  }

.btnsNav a{
    padding-right: 1rem !important;
}

.fa-facebook{
    border: 2px solid #4267b2;
    color: white;
    background-color: #2196f3;
    border-radius: 50%;
    padding: 5px;
}

.fa-facebook:hover{
    transition: 0.5s;
    color: #2196f3;
    background-color: white;
}





.text-pop-up-top {
    filter: drop-shadow(-1px 5px 5px black);
    padding-top: 3rem;
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.360, 0.350, 0.440) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.360, 0.350, 0.440) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-5-28 7:3:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
 @-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 var(--ver-meta), 0 2px 0 var(--ver-meta), 0 3px 0 var(--ver-meta), 0 4px 0 var(--ver-meta), 0 5px 0 var(--ver-meta), 0 50px 30px rgba(0, 0, 0, 0.3);
    
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 var(--ver-meta), 0 2px 0 var(--ver-meta), 0 3px 0 var(--ver-meta), 0 4px 0 var(--ver-meta), 0 5px 0 var(--ver-meta), 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  

  /*media@*/

  @media (max-width: 600px) {
    .contatosNav{
        flex-direction: column !important;
        flex-wrap: nowrap !important;
    }
    nav{
        background-color: yellowgreen !important;
    }
  }